# BackLemon Demo Configuration file

# What is the name of this backup set?
MLbackupName="MacLemon-Sample"

# NOTE on Naming Backups:
# Spaces are allowed in Backup Set Names. (tested and verified)
# If you save this script with UTF-8 Encoding, it should
# be capable of handling japanese characters (tested and verified)
# This script is not yet capable of handling Umlauts correctly!
# If you know how to make this work, please contact me!


# How many Backup Sets to keep? (Integer > 0)
# Default: 5
MLbackupCount=5


# Configuring the SOURCE that will be backed up:

# What file or directory to Backup. (No trailing Slash for directories)
# Default: $HOME
MLsourcePath="$HOME"


# Configuring the Destination we will save the Backup to.

# Where shall the Backups be stored (local path on the destination machine)
# Default: /Volumes/Backup
MLdestPath="/Volumes/Backup"



# Where to send the eMail notification about the backup to?
# If you need multiple recipients seperate them with commas.
# Example: "admin@example.com,user@example.com"
# Default: $USER
MLadminEmail="$USER"

#EOF
