# BackLemon Demo Configuration file

# To use this config file invoke mlbackup like this:
# mlbackup path/to/your.mlbackupconf


# NOTE on Naming Backups:
# Known issue: Spaces and german Umlauts in the backup name do cause problems, so just don't use them.
# If you know how to make this work, please contact me!

# What is the name of this backup set?
MLbackupName="MacLemon-Sample"


# How many Backup Sets to keep? (Integer > 0)
# Default: 5
MLbackupCount=5


# Configuring the SOURCE that will be backed up:

# What file or directory to Backup. (No trailing Slash for directories)
# Default: $HOME
MLsourcePath="$HOME"


# Configuring the Destination we will save the Backup to.

# Where shall the Backups be stored (local path on the destination machine)
# Default: /Volumes/Backup
MLdestPath="/Volumes/Backup"


# Where to send the eMail notification about the backup to?
# If you need multiple recipients separate them with commas.
# Example: "admin@example.com,user@example.com"

# If you don't have a working mailserver (postfix) setup on your Mac, like this might be on a Client Mac, you can just leave MLadminEmail="" and mlbackup will do it's backups as good as always, but without trying to send mail. The message will still be saved with the backup so you can have a look at it. Of course you may also choose to just not receive email about backups.
# Default: $USER
MLadminEmail="$USER"


# If you don't want to exclude certain files that we deem unnecessary for a backup, set this parameter to 0.
# To see what we exclude by default see /etc/maclemon/backup/globalexclusions
# The default is to respect globalexclusions and not backup what is mentioned there.
# Default: MLuseGlobalExclusions=1
MLuseGlobalExclusions=1


# You can specify an additional file with objects that you want to exclude from your backups.
# You can leave that parameter empty "" if you don't want to use this.
# You may use both MLconfigExcludeFrom and MLuseGlobalExclusions in combination.
# Default: MLconfigExcludeFrom=""
MLconfigExcludeFrom=""

# You can specify custom rsync options per config here:
MLcustomRsyncOptions=""
# Example: You can set --bwlimit=3072 to limit rsync I/O throughput to 3MB per second. bwlimit is passed in KB/s
# See man rsync for other options you may want to use.
# Hint: Turning on debugging with MLdebug=1 in this config file to see the final resulting rsync command in the log.
#EOF
